version: '3.7'

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - 5433:5432

  redis:
    image: redis:7.2-alpine
    ports:
      - "6380:6379"
    command: [ "redis-server", "--appendonly", "yes" ]