spring:
  application:
    name: user-profile-service

  datasource:
    username: postgres
    password: 123456
    url: jdbc:postgresql://localhost:5433/postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    default-schema: app

  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6380
  redis:
    timeout: 2s

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: user-profile-service
      auto-offset-reset: earliest
      enable-auto-commit: false
      isolation-level: read_committed
    producer:
      transaction-id-prefix: user-profile-dlq-

cache:
  ttl: 1h

server:
  port: 8081